NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_PROJECT_REF=
ANTHROPIC_API_KEY=
OPENROUTER_API_KEY=
EMBEDDING_MODEL=nvidia/llama-nemotron-embed-vl-1b-v2:free
LLM_PROVIDER=openrouter
LLM_MODEL=minimax/minimax-m2.5:free
